*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    min-height: 100vh;
}

#app {
    display: grid;
    place-items: center;
    min-height: 100vh;
    @media (max-width: 768px) {
        display: block;
    }
}