*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    border: none;
    scroll-behavior: smooth;
    transition: .6s;
}

html,
body {
    min-height: 100vh;
}

#app {
    min-height: 100vh;
}