{
    "arrowParens": "avoid",
    "useTabs": true,
    "tabWidth": 2,
    "singleQuote": true,
    "semi": false,
    "trailingComma": "none",
    "singleAttributePerLine": true,
    "printWidth": 160
}